.opfc-cart-item {
  flex-flow: unset;
  width: 100%;
  justify-content: space-between;
}

.opfc-cart-item-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.opfc-cart-item-actions > *:not(:first-child) {
  margin-left: 7px;
}

.opfc-cart-item-price-group {
  margin-top: 30px;
  min-width: 200px;
  max-width: 300px;
}

.opfc-cart-item-price-group .opfc-menu-price,
.opfc-cart-item-price-group .opfc-menu-shipping-fee {
  font-size: 12px;
  color: #999;
}

.opfc-cart-item-price-group .opfc-menu-sub-total {
  font-size: 13px;
  font-weight: 600;
}

.opfc-cart-item-align-right {
  text-align: right;
}
