.opfc-order-detail-container {
  min-height: 150px;
}

.opfc-order-detail-info {
  min-width: 200px;
  max-width: 300px;
  padding-top: 16px;
}

.opfc-order-detail-item {
  flex-flow: unset;
  flex: 1;
}

.opfc-order-detail-item-price {
 text-align: right;
}

.opfc-order-detail-meal-list {
  flex: 1;
}

.opfc-order-detail-subtotal {
  width: 100%;
  justify-content: flex-end;
  font-size: 15px;
}

.opfc-order-detail-subtotal .opfc-order-detail-subtotal-inner {
  width: 200px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.opfc-order-detail-total {
  width: 100%;
  justify-content: flex-end;
  font-size: 15px;
  margin-top: 15px;
}

.opfc-order-detail-total .opfc-order-detail-total-overall {
  width: 200px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
}
