.opfc-order-detail-container {
  min-height: 150px;
}

.opfc-order-detail-info {
  min-width: 200px;
  max-width: 300px;
  margin-top: 42px;
}

.opfc-order-detail-item {
  flex-flow: unset;
  flex: 1;
}

.opfc-order-detail-item-price {
 text-align: right;
}

.opfc-order-detail-meal-list {
  margin-top: 42px;
  flex: 1;
}

.opfc-order-detail-overall {
  width: 100%;
  justify-content: flex-end;
  font-size: 18px;
}

.opfc-order-detail-overall .opfc-order-detail-total {
  width: 200px;
  padding-left: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}