.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.header.ant-layout-header {
  padding: 0 30px;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.header-icon > i {
  font-size: 28px;
}

.header-search {
  width: 350px;
}

.opfc-browse-popup-content .ant-popover-inner-content {
  padding: 0;
}

.opfc-create-brand-modal-container .ant-modal-header {
  display: none;
}