.opfc-event-planning-steps-affix .ant-affix {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.opfc-event-planning-steps-affix > div {
  display: flex;
  justify-content: center;
}

.opfc-payment-content-container {
  text-align: center;
  margin: 35px 0;
  font-size: 16px;
}

.opfc-payment-warning {
  font-weight: 600;
}
