.opfc-event-card {
  margin-top: 12px;
}

.opfc-event-card .opfc-event-card-label {
  text-align: right;
}

.opfc-event-card-create {
  width: 100%;
  height: 100%;
}

.opfc-event-card-create > i {
  font-size: 48px;
  color: #9d9d9d;
}

.opfc-event-card-create:hover > i {
  color: #ffae6b;
}
